@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    min-height: 100vh;
    justify-content: center;
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(30, 26, 26, 0.6)),
        url("/img/image.png");
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 5px;
}
body {
    font-family: "Lora", serif;
    color: #fcfcfc;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(30, 26, 26, 0.6)),
        url("/img/banner.jpg");
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


form#registerForm h2 {
    margin: 40px;
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: "Lora", serif;
}

form#registerForm label {
    padding-bottom: 10px;
    margin-bottom: 50%;
    font-size: 1rem;
    letter-spacing: 0.05em;
}


form#registerForm label:hover {
    color: #000000;
    transition: color 0.3s ease-in-out; 
}

form input {
    border-radius: 2px;
    border: 2px solid rgb(214, 214, 214);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 30px;
}



form select {
    border-radius: 1px;
    border: 2px solid rgb(228, 225, 225);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 50px;

}

form button {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(102, 103, 105) ;
    color: rgb(203, 194, 194);
    width: 100%;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    color: #221212;
    transition: color 0.3=2s ease-in-out; 
}
form {
    margin: auto;
    padding: 40px;
}

