@media only screen and (max-width: 480px) {

  nav .logo,
  nav ul {
    float: none;
    text-align: center;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  section#about img {
    width: 90%;
  }

  .container {
    max-width: 100%;
  }

  .containerLogin {
    max-width: 100%;
  }

  form#loginForm input,
  select {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
  }

  form#loginForm button {
    padding: 10px;
  }

  form {
    width: 100%;
    padding: 10px;
  }

  section.flex {
    flex-direction: column;
    gap: 0;
  }

  select.w-50 {
    width: 100%;
  }

  .w-100 {
    width: 100%;
  }

  form#registerForm h2 {
    font-size: 1.5rem;
  }

  form input,
  form select,
  form button {
    width: 100%;
    font-size: 1rem;
    padding: 15px;
  }

  form button {
    margin-top: 20px;
  }

  .sign-in {
    margin-top: 50px;
  }

}