@media only screen and (max-width: 480px) {
    form#registerForm h2 {
        font-size: 2.5rem; /* Aumenta un poco el tamaño del título */
    }

    form#registerForm label {
        font-size: 1.2rem; /* Aumenta el tamaño de las etiquetas */
        margin-bottom: 20px; /* Ajusta el espaciado entre las etiquetas */
    }

    form input, form select {
        font-size: 1rem; /* Aumenta el tamaño del texto en los campos */
        padding: 15px; /* Aumenta el padding en los campos de texto */
    }

    form button {
        font-size: 1.2rem; /* Aumenta el tamaño del texto del botón */
        padding: 15px; /* Aumenta el padding del botón */
    }

    .container {
        padding: 10px; /* Ajusta el padding para que el formulario no esté tan pegado a los bordes */
        max-width: 100%; /* Aumenta el tamaño máximo en móviles */
    }

    form {
        padding: 20px; /* Reduce el padding general en móviles para ajustarse mejor */
    }
}
