@media only screen and (max-width: 480px) {
    nav .logo, nav ul {
      float: none;
      text-align: center;
    }
  
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  
    section#about img {
      width: 90%;
    }
    
    .container {
      padding: 20px; 
  }

  form {
      width: 100%; 
      padding: 10px; 
  }

  form#registerForm h2 {
      font-size: 1.5rem; 
  }

  form input, form select {
      font-size: 1rem; 
      padding: 15px; 
  }

  form button {
      font-size: 1rem; 
      padding: 10px;
  }

  form#registerForm label {
      font-size: 1rem; 
      margin-bottom: 10px; 
  }
  }