@media only screen and (max-width: 480px) {

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

  }

  nav .logo img {
    height: 150px;
  }

  nav ul {
    list-style: none;
    margin-top: 20px;
    font-size: 1.2rem;
  }

  nav ul li {
    margin-bottom: 15px;
  }

  header {
    padding: 50px;
    margin-bottom: 220px;
    background-position: center; 
    background-size: cover;      
    background-repeat: no-repeat;
  }

  section#services p {
    font-size: 1.2em;
  }

  section#services img {
    width: 90%;
    
  }

  section#about p {
    font-size: 1.2em;
  }
  section#about img {
    width: 90%;
  }

  .container {
    max-width: 100%;
  }

  .services .service p {
    font-size: 1em;
    max-width: 100%;
  }

  .containerLogin {
    max-width: 100%;
  }

  form#loginForm input,
  select {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
  }

  form#loginForm button {
    padding: 10px;
  }

  form {
    width: 100%;
    padding: 10px;
  }

  section.flex {
    flex-direction: column;
    gap: 0;
  }

  select.w-50 {
    width: 100%;
  }

  .w-100 {
    width: 100%;
  }

  form#registerForm h2 {
    font-size: 1.5rem;
  }

  form input,
  form select,
  form button {
    width: 100%;
    font-size: 1rem;
    padding: 15px;
  }

  form button {
    margin-top: 20px;
  }

  .sign-in {
    margin-top: 50px;
  }

}